<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Casa Di Pasta</a>
    <img src="/Asset/images/Casa_Di_pasta.png" alt="Logo" style="height:35px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto ms-2 mb-lg-0">

        <% if (user) { %>
          <!-- Logged-in user links -->
          <li class="nav-item">
            <a class="nav-link <%= title === 'Home' ? 'active' : '' %>" href="/home">
              <i class="fa-solid fa-lg fa-house"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= title === 'Order' ? 'active' : '' %>" href="/order">
              <i class="fa-solid fa-lg fa-book"></i> Order
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= title === 'About' ? 'active' : '' %>" href="/about">
              <i class="fa-solid fa-lg fa-circle-info"></i> About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= title === 'Contact us' ? 'active' : '' %>" href="/contactus">
              <i class="fa-solid fa-lg fa-phone"></i> Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="/users/logout">
              <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
          </li>
        <% } else { %>
          <!-- Not logged-in -->
          <li class="nav-item">
            <a class="nav-link <%= title === 'Login' ? 'active' : '' %>" href="/users/login">
              <i class="fa-solid fa-right-to-bracket"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= title === 'Register' ? 'active' : '' %>" href="/users/register">
            </a>
          </li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>
